<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>MWR</servlet-name>
    <servlet-class>
    com.google.imaginary.server.MaskedWalletRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MWR</servlet-name>
    <url-pattern>/mwr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Validator</servlet-name>
    <servlet-class>
    com.google.imaginary.server.JwtValidatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validator</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FWR</servlet-name>
    <servlet-class>
    com.google.imaginary.server.FullWalletRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FWR</servlet-name>
    <url-pattern>/fwr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TSN</servlet-name>
    <servlet-class>
    com.google.imaginary.server.TransactionStatusNotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TSN</servlet-name>
    <url-pattern>/tsn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>All</servlet-name>
    <servlet-class>com.google.imaginary.server.multi.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>All</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>store</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <session-config>
    <session-timeout>1209600000</session-timeout>
  </session-config>
</web-app>
